doctype 5
html
  head
    title Postman
    link(rel='stylesheet', href='/stylesheets/style.css')

    != js('ender')
    != css('general')
    != js('app')

  body

    .row
      .twelve.columns
        block main


    footer.row
      .twelve.columns
        .version 0.1.0-dev