doctype 5
html
  head
    title Postman
    link(rel='stylesheet', href='/stylesheets/style.css')

    != js('ender')
    != css('general')
    != js('app')

    if typeof request != "undefined"
      script(type="text/javascript")
        window.request = !{JSON.stringify(request).replace(/script/g, 'scr"+"ipt').replace(/\<\!\-\-/g, '<"+"!--')};

  body

    header
      .row
        .twelve.columns
          h1: span Postman


    .row
      .twelve.columns
        #main
          block main


    footer.row
      .twelve.columns
        .version 0.1.7-dev