
@import "foundation.css"


.row
  width 1280px

#main
  margin-bottom 150px



#requests
  .request
    font-family monospace
    font-size 12px

    header
      position relative
      .permaLink
        position absolute
        top -20px
        right 0
        font-weight bold
        font-size 1.4em

    .body
      font-size 11px
      white-space pre
      background #fafafa
      padding 10px 
      overflow auto


  .error
    color red

textarea
  min-height 200px